<%= render 'nav' %>

<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>新規お気に入り登録</h3>
  </div>

  <h1>New Favorite</h1>

  <%= render 'form', favorite: @favorite %>

  <%= link_to 'Back', favorites_path %>

</div>
