<% @page_category = 'mypage' %>

<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>ユーザー編集</h3>
  </div>

  <%= render 'form', user: @user %>

  <br>
  <%= link_to '現在の設定内容の表示', @user %>

</div>
