<% @page_category = 'mypage' %>

<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>ユーザー編集</h3>
  </div>

  <%= render 'form', keyword: @keyword %>

  <br>
  <%= link_to '設定を表示する', @keyword %> |
  <%= link_to '一覧に戻る', keywords_path %>

</div>
